{{define "head"}}
<style>
      
  .layui-tree-icon{
    box-sizing: content-box !important;
  }

  .layui-tree-entry{
    box-sizing: content-box !important;
  }

  #field{
    display: none;
  }

  #score{
    display: none;
  }

</style>
{{end}}


{{define "body"}}
<!-- 标题模块 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Go Redis Manager</a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
        新建连接
      </button>
    </form>
  </div>
</nav>


<div class="row">
  <div class="col-sm-5" style="padding-right: 0px;border-right: 3px solid rgb(217 217 217);">
    
    <form action="/admin/switch" method="post" class="ajaxForm" autocomplete="off">
    <div class="col-sm-12" style="margin-top: 10px;">
      <div class="row">
        <div class="form-group col-md-5">
          <select id="inputState" name="service" class="form-control">
            <option value="">请选择连接</option>
            {{range $k,$v := .services}}
              {{if equal $k $.service_name}}
                <option selected value="{{$k}}">{{$k}}</option>
              {{else}}
                <option value="{{$k}}">{{$k}}</option>
              {{end}}
            {{end}}
          </select>
        </div>

        <div class="form-group col-md-4">
          <select id="inputState" name="db" class="form-control">
            {{range $k,$v := .db_slice}}
              {{if equalInt $k $.db}}
                <option selected value="{{$k}}">{{$k}}</option>
              {{else}}
                <option value="{{$k}}">{{$k}}</option>
              {{end}}
            {{end}}
          </select>
        </div>

        <div class="form-group col-md-2">
          <button type="submit" class="form-control btn btn-primary">切换</button>
        </div>

      </div>
    </div>
    </form>

    <div class="col-sm-12">

    <form action="/admin/search_key" method="post" class="search_key">  
      <div class="btn-toolbar mb-12" role="toolbar" aria-label="Toolbar with button groups">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">查看指定key</div>
          </div>
          <input type="text" name="key" class="form-control" placeholder="" autocomplete="off">
          <input type="hidden" name="type" value="1">
        </div>
        <div class="input-group">
          <button type="submit" class="form-control btn btn-primary" >搜索</button>
        </div>
      </div>
    </form>
      
    </div>

    <div class="col-sm-12" style="margin-top: 10px;">

      <form action="/admin/search_key" method="post" class="search_key">
      <div class="btn-toolbar mb-12" role="toolbar" aria-label="Toolbar with button groups">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">筛选key前缀</div>
          </div>
          <input type="text" class="form-control" name="key" placeholder="" autocomplete="off">
          <input type="hidden" name="type" value="2">
        </div>
        <div class="input-group">
          <button type="submit" class="form-control btn btn-primary" >搜索</button>
        </div>
      </div>
      </form>
    </div>

    <div class="col-sm-12" style="margin-top: 10px;">
      <button data-toggle="modal" data-target="#addKeyModal" type="button" class="btn btn-light btn-sm">新建键值</button>
    </div>
    

    <div class="col-sm-12" style="margin-top: 15px;overflow-y: auto;height: 300px;">
      <div id="keys" class="demo-tree"></div>
    </div>

  </div>
  <div class="col-sm-7" style="padding-left: 0px;">
    <iframe name="main" scrolling=no id="iframepage"  frameborder=0 width="100%" src=""></iframe>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新建连接</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/save_config" method="post" class="ajaxForm" autocomplete="off">
      <div class="modal-body">
          <div class="form-group">
            <label>连接名称</label>
            <input type="text" name="service_name" class="form-control" required>
          </div>
          <div class="form-group">
            <label>IP地址</label>
            <input type="text" name="host" class="form-control" required>
          </div>
          <div class="form-group">
            <label>端口号</label>
            <input type="text" name="port" class="form-control" required>
          </div>
          <div class="form-group">
            <label>密码</label>
            <input type="password" name="password" class="form-control">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">保存</button>
      </div>
    </form>
    </div>
  </div>
</div>


<!-- 新建键值 Modal -->
<div class="modal fade" id="addKeyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">添加键值</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/add_key" method="post" class="ajaxForm" autocomplete="off">
      <div class="modal-body">
          <div class="form-group">
            <label>Key值</label>
            <input type="text" name="key" class="form-control" required>
          </div>
          
          <div class="form-group">
            <label for="exampleFormControlSelect1">类型</label>
            <select name="type" class="form-control" id="exampleFormControlSelect1">
              <option value="string">string</option>
              <option value="list">list</option>
              <option value="set">set</option>
              <option value="zset">zset</option>
              <option value="hash">hash</option>
            </select>
          </div>

          <div id="field" class="form-group">
            <label for="exampleFormControlTextarea1">字段名</label>
            <input type="field" name="field" class="form-control">
          </div>

          <div id="score" class="form-group">
            <label for="exampleFormControlTextarea1">分数</label>
            <input type="number" name="score" class="form-control">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">字段值</label>
            <textarea class="form-control" name="value" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">保存</button>
      </div>
    </form>
    </div>
  </div>
</div>





{{end}}


{{define "script"}}
<script>

  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })


  var formloading = false;
    $('.search_key').submit(function () {
        $(this).find('.help-block').remove();
        $(this).find('.has-error').removeClass('has-error');

        if (formloading) {
            return false;
        }

        var loading = layer.msg('系统处理中...', {icon: 16, shade: 0, time: 0});
        $.ajax({
            type: $(this).prop('method'),
            url: $(this).prop('action'),
            data: $(this).serialize(),
            dataType: 'json',
            beforeSend: function () {
                formloading = true;
            },
            success: function (data){
                if (data.status) {
                  layui.use('tree', function () {
                    var tree = layui.tree;
                    tree.render({
                        elem: '#keys',
                        contentType: 'application/json',
                        data: data.data,
                        customOperate:true,
                        // edit: ['del'],
                        click: function(obj){
                            var data = obj.data;  //获取当前点击的节点数据
                            if (data.children == null){
                              document.getElementById("iframepage").src='/admin/'+data.type+'/show/'+'?key='+data.all; 
                            }
                        },
                        operate:function(obj){
                          
                        }
                    })
                  })
                } else {
                    layer.msg(data.data, {icon: 5, scrollbar: false, time: 2000, shade: [0.3, '#393D49']});
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                
            },
            complete: function () {
                formloading = false;
                layer.close(loading);
            }
        });
        return false;
    });


</script>

<script type="text/javascript">
  $("#exampleFormControlSelect1").change(function(){
    if($(this).val() == "zset"){
      $("#score").show();
      $("#field").hide();
    }else if($(this).val() == "hash"){
      $("#score").hide();
      $("#field").show();
    }else{
      $("#score").hide();
      $("#field").hide();
    }
  })
</script>

{{end}}