{{define "head"}}

{{end}}


{{define "body"}}
<div class="container" style="margin-top: 10px;">
<div class="row">
    <div class="col-sm-12">
        <div role="toolbar" aria-label="Toolbar with button groups">
            <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text" id="btnGroupAddon">STRING:</div>
                  </div>
                  <input type="text" name="key" class="form-control" value="{{.key}}" disabled>
            </div>
            <!-- <div class="input-group">
                  <button type="submit" class="form-control btn btn-primary" >搜索</button>
            </div> -->
        </div>
    </div>
    <div class="col-sm-12" style="margin-top: 10px;">
        <div class="form-group">
            <textarea style="resize:none;" class="form-control" id="exampleFormControlTextarea1" rows="3">{{.value}}</textarea>
          </div>
    </div>
</div>
</div>   
{{end}}


{{define "script"}}

{{end}}