<!--
 * @Description: 
 * @Author: gphper
 * @Date: 2022-03-17 22:23:26
-->
{{define "head"}}

{{end}}

{{define "body"}}
<div class="container" style="margin-top: 10px;">
    <div style="margin:0 auto;width: 50%;text-align: center;">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">提示信息</div>
            <div class="card-body">
              <h5 class="card-title">{{.title}}</h5>
              <p class="card-text">{{.msg}}</p>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "script"}}

{{end}}