<!doctype html>
<html lang="zh-CN">
  <head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="max-age=7200" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/statics/images/favicon.ico">
    <link rel="shortcut icon" href="/statics/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="/statics/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/statics/layui/layui/css/layui.css"  media="all">
    {{template "head" .}}
    <style>
      
      .layui-tree-icon{
        box-sizing: content-box !important;
      }

      .layui-tree-entry{
        box-sizing: content-box !important;
      }
    </style>

    <title>Go Redis Manager</title>
  </head>
  <body style="overflow: hidden;">
    
    {{template "body" .}}


    <!-- 选项 1：jQuery 和 Bootstrap 集成包（集成了 Popper） -->
    <script src="/statics/js/jquery-3.6.0.min.js"></script>
    <script src="/statics/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/statics/layui/layui/layui.js" charset="utf-8"></script>
    <script src="/statics/js/public.js"></script>
    
    {{template "script" .}}
  
  </body>

</html>